*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    width: 80%;
    min-height: 100px;
    margin: auto;
    border: 1px solid black;
}
.form-heading h1
{
    text-align: center;

}
.form-heading
{
    width: 90%;
    margin: auto;
    padding: 10px;
    /* border: 1px solid black; */
}
.form-data
{
    width: 90%;
    margin: auto;
    min-height: 100px;
    padding: 10px;
    background-color: lightblue;
    /* border: 1px solid black; */
}
table,tr,td{
    /* border: 1px solid black; */
}
table,tr,td{
    border-collapse: collapse;
}
td,th
{
    width: 760px;
    height: 20px;
    padding: 10px;
}
.lbl-width
{
    width: 100%;
    padding: 10px;
    margin: auto;
}
.form-data input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"]
{
    width: 60%;
    padding: 10px;
    margin: auto;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.label
{
    width: 200px;
    height: 30px;
    padding: 10px;
}
textarea
{
    width: 60%;
    padding: 10px;
    margin: auto;
    min-height: 30px;
}
table,tr,th{
    /* border: 1px solid black; */
}
.stud-data
{
    text-align: center;
}
input[type="submit"]
{
    text-align: center;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input[type="reset"]
{
    background-color: red;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn
{
    text-align: center;
}
.stud-data input[type="text"]
{
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}